{% extends 'layout.html' %} {% block contenido %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Asignar Producto a Categoría</title>
    </head>
    <body>
        <h1>Asignar Producto a Categoría</h1>
        <form method="POST">
            <p>Producto Seleccionado: {{ product.name }}</p>
            <div>
                <label for="category_id">Seleccionar Categoría:</label>
                <select name="category_id" id="category_id">
                    {% for category in categories %}
                    <option value="{{ category.id }}">
                        {{ category.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="addButton">Asignar Categoría</button>
        </form>
        <div style="padding-top: 12px">
            <button class="return">
                <a href="{{ url_for('readProducts') }}"
                    >Consultar otro producto</a
                >
            </button>
        </div>
    </body>
</html>
{% endblock %}
