<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Añadir Proveedor</title>
    </head>
    <body>
        <h1>Añadir Proveedor</h1>
        <form action="{{ url_for('addSupplier') }}" method="POST">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" required /><br />
            <label for="address">Dirección:</label>
            <input type="text" id="address" name="address" required /><br />
            <label for="cellphone">Teléfono:</label>
            <input type="text" id="cellphone" name="cellphone" required /><br />
            <button type="submit">Añadir Proveedor</button>
        </form>
        <a href="{{ url_for('index') }}">Volver a Productos</a>
    </body>
</html>
