{% extends 'layout.html' %} {% block contenido %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Añadir Producto</title>
    </head>
    <body>
        <h1>Añadir Producto</h1>
        <form action="{{ url_for('addProduct') }}" method="POST">
            <div>
                <label for="name">Nombre: </label>
                <input type="text" id="name" name="name" required />
            </div>

            <div>
                <label for="description">Descripción:</label>
                <input
                    type="text"
                    id="description"
                    name="description"
                    required
                />
            </div>

            <div>
                <label for="price">Precio:</label>
                <input
                    type="number"
                    step="0.01"
                    id="price"
                    name="price"
                    required
                />
            </div>

            <div>
                <label for="stock">Stock Inicial:</label>
                <input type="number" id="stock" name="stock" required />
            </div>

            <div>
                <label for="category_id">Categoría:</label>
                <select id="category_id" name="category_id" required>
                    {% for category in categories %}
                    <option value="{{ category.id }}">
                        {{ category.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <label for="supplier_id">Proveedor:</label>
                <select id="supplier_id" name="supplier_id" required>
                    {% for supplier in suppliers %}
                    <option value="{{ supplier.id }}">
                        {{ supplier.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="storage_id">Bodega:</label>
                <select id="storage_id" name="storage_id" required>
                    {% for storage in storages %}
                    <option value="{{ storage.id }}">{{ storage.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="addButton">Añadir Producto</button>
        </form>
        <div style="padding-top: 12px;">
            <button class="return">
                <a href="{{ url_for('readProducts') }}"
                    >Consultar otro producto</a
                >
            </button>
        </div>
    </body>
</html>
{% endblock %}
