<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información del Producto</title>
</head>
<body>
    <h1>Información del Producto</h1>
    <p><strong>Nombre:</strong> {{ product.name }}</p>
    <p><strong>Descripción:</strong> {{ product.description }}</p>
    <p><strong>Precio:</strong> {{ product.price }}</p>
    <p><strong>Stock Actual:</strong> {{ product.stock }}</p>
    <p><strong>Categoría:</strong> {{ product.category.name }}</p>
    <p><strong>Proveedor:</strong> {{ product.supplier.name }}</p>
    <p><strong>Bodega:</strong> {{ product.storage.name }}</p>
    <a href="{{ url_for('index') }}">Volver</a>
</body>
</html>
