{% extends 'layout.html' %} {% block contenido %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Información del Producto</title>
    </head>
    <body style="display: flex; flex-direction: column; gap: 12px">
        <h1>Información del Producto</h1>
        <div class="container">
            <p><strong>Nombre:</strong> {{ product.name }}</p>
            <p><strong>Descripción:</strong> {{ product.description }}</p>
            <p><strong>Precio:</strong> $ {{ product.price }}</p>
            <p><strong>Stock Actual:</strong> {{ product.stock }}</p>
            <p><strong>Categoría:</strong> {{ product.category.name }}</p>
            <p><strong>Proveedor:</strong> {{ product.supplier.name }}</p>
            <p><strong>Bodega:</strong> {{ product.storage.name }}</p>
        </div>
        <button class="return">
            <a href="{{ url_for('readProducts') }}">Consultar otro producto</a>
        </button>
    </body>
</html>
{% endblock %}
