{% extends 'layout.html' %} {% block contenido %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Añadir Producto a Bodega</title>
    </head>
    <body>
        <h1>Añadir Producto a Bodega</h1>
        <form method="POST">
            <p>Producto Seleccionado: {{ product.name }}</p>

            <div>
                <label for="storage_id">Seleccionar Bodega:</label>
                <select name="storage_id" id="storage_id">
                    {% for storage in storages %}
                    <option value="{{ storage.id }}">{{ storage.name }}</option>
                    {% endfor %}
                </select>
            </div>
            {% if error %}
            <label for="error" id="error" name="error" style="width: 350px">
                No hay suficiente espacio en la bodega para almacenar el
                producto.</label
            >
            {% endif %}

            <button type="submit" class="addButton">Asignar Bodega</button>
        </form>
        <div style="padding-top: 12px">
            <button class="return">
                <a href="{{ url_for('readProducts') }}"
                    >Consultar otro producto</a
                >
            </button>
        </div>
    </body>
</html>
{% endblock %}
