<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Añadir Producto a Bodega</title>
    </head>
    <body>
        <h1>Añadir Producto a Bodega</h1>
        <form method="POST">
            <p>Producto Seleccionado: {{ product.name }}</p>

            <label for="storage_id">Seleccionar Bodega:</label>
            <select name="storage_id" id="storage_id">
                {% for storage in storages %}
                <option value="{{ storage.id }}">{{ storage.name }}</option>
                {% endfor %}</select
            ><br />
            {% if error %}
            <label for="error" id="error" name="error">
                No hay suficiente espacio en la bodega para almacenar el
                producto.</label
            >
            {% endif %}

            <input type="submit" value="Agregar a Bodega" />
        </form>
        <a href="{{ url_for('readProducts') }}">Volver</a>
    </body>
</html>
