{% extends 'layout.html' %} {% block contenido %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Añadir Bodega</title>
    </head>
    <body>
        <h1>Añadir Bodega</h1>
        <form action="{{ url_for('addStorage') }}" method="POST">
            <div>
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name" required />
            </div>
            <div>
                <label for="location">Ubicación:</label>
                <input type="text" id="location" name="location" required />
            </div>
            <div>
                <label for="max_capacity">Capacidad Máxima:</label>
                <input
                    type="number"
                    id="max_capacity"
                    name="max_capacity"
                    required
                />
            </div>
            <button type="submit" class="addButton">Añadir Bodega</button>
        </form>
        <div style="padding-top: 12px">
            <button class="return">
                <a href="{{ url_for('readStorages') }}"
                    >Consultar las bodegas existentes</a
                >
            </button>
        </div>
    </body>
</html>
{% endblock %}
