<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Consultar Bodegas</title>
    </head>
    <body>
        <h1>Consultar Bodegas</h1>
        <a href="{{ url_for('addStorage') }}">Añadir Bodega</a>
        <ul>
            {% for storage in storages %}
            <li>
                <a
                    href="{{ url_for('readStorage', storage_id=storage.id) }}"
                    >{{ storage.name }}</a
                >
                - {{ storage.location }} - Capacidad: {{ storage.max_capacity }}
            </li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('index') }}">Volver al menú</a>
    </body>
</html>
