<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Inicio</title>
    </head>
    <body>
        <h1>Inicio</h1>
        <a href="{{ url_for('addProduct') }}">Añadir Producto</a><br />
        <a href="{{ url_for('readProducts') }}">Consultar Productos</a
        ><br />
        <a href="{{ url_for('addCategory') }}">Añadir Categoría</a><br />
        <a href="{{ url_for('readCategories') }}">Consultar Categorías</a
        ><br />
        <a href="{{ url_for('addSupplier') }}">Añadir Proveedor</a><br />
        <a href="{{ url_for('readSuppliers') }}"
            >Consultar Proveedores</a
        ><br />
        <a href="{{ url_for('addStorage') }}">Añadir Bodega</a><br />
        <a href="{{ url_for('readStorages') }}">Consultar Bodegas</a><br />
        <a href="{{ url_for('calculateStockValue') }}">Calcular Valor Stock</a><br />
    </body>
</html>
