{% extends 'layout.html' %} {% block contenido %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Agregar Stock</title>
    </head>
    <body>
        <h1>Agregar Stock a {{ product.name }}</h1>
        <form
            action="{{ url_for('addStock', product_id=product.id) }}"
            method="POST"
        >
            <div>
                <label for="amount">Cantidad a agregar:</label>
                <input type="number" id="amount" name="amount" required />
            </div>
            <button type="submit" class="addButton">Agregar Stock</button>
        </form>
        <div style="padding-top: 12px">
            <button class="return">
                <a href="{{ url_for('readProducts') }}"
                    >Consultar otro producto</a
                >
            </button>
        </div>
    </body>
</html>
{% endblock %}
